<template>
	<nav class="navbar navbar-expand-lg bg-body-tertiary">
		<div class="container-md">
			<a class="navbar-brand" href="#">Midificator</a>
		</div>
		<button class="btn btn-primary" type="button" @click="() => tab = 'capture'">
			Render
		</button>
	</nav>
	<Dashboard v-if="tab === 'dashboard'">
		<slot />
	</Dashboard>

	<Capture v-if="tab === 'capture'">
		<slot />
	</Capture>
</template>

<script setup lang="ts">
import { ref } from 'vue';
import Dashboard from './Dashboard.vue';
import Capture from './Capture.vue';

const tab = ref("dashboard");
</script>
