<template>
	<div class="d-flex flex-column align-items-center" style="height: 100vh;">
		<div style="position: absolute; z-index: -1; width: 1920px;">
			<Canvas
				:clear-color="0"
				:size="{ width: 1920, height: 1080 }"
				:is-high-quality="true"
			>
				<slot />
			</Canvas>
		</div>

		<div class="d-inline-block progress bg-dark" role="progressbar" style="width: 50vw;">
			<div class="progress-bar progress-bar-striped" :style="{
				width: ((trackFrame / trackStore.lastFrame) * 100) + '%',
				overflow: 'unset',
			}">
				{{ trackFrame }} / {{ trackStore.lastFrame }} frames
			</div>
		</div>
	</div>
</template>

<script setup lang="ts">
import { Canvas, useThreeContext } from 'vue-three-js';
import { useCapture, useMidiTrack } from '../hooks';
import { useTrackStore } from '../stores/tracks';

const context = useThreeContext({ isRunning: true });
const { trackFrame } = useMidiTrack(context, false);
const trackStore = useTrackStore();

useCapture();
</script>