<template>
	<div class="d-flex flex-column" style="height: 100vh;">
		<div class="row">
			<div class="col-4 col-xl-6">
				<TrackList />
			</div>
			<div class="col-8 col-xl-6 d-flex flex-column">
				<Canvas
					:clear-color="0"
					:size="{ width: 1920, height: 1080 }"
				>
					<slot />
				</Canvas>
				<div class="bg-light">
					<SeekBar
						:is-playing="context.isRunning"
						:current-frame="trackFrame"
						:last-frame="trackStore.lastFrame"
						@toggle-pause="handleTogglePause"
						@seek="(frame) => seekTo(frame)"
					/>
				</div>
			</div>
		</div>
		<div style="flex-grow: 1;">
			<Timeline />
		</div>
	</div>
</template>

<script setup lang="ts">
import { triggerRef } from 'vue';
import { Canvas, useThreeContext } from 'vue-three-js';
import { useMidiTrack } from '../hooks';
import SeekBar from './SeekBar.vue';
import Timeline from './timeline/Timeline.vue';
import TrackList from './TrackList.vue';
import { useTrackStore } from '../stores/tracks';

const context = useThreeContext({ isRunning: false });
const { trackFrame, seekTo, play, pause } = useMidiTrack(context);
const trackStore = useTrackStore();

function handleTogglePause() {
	if (context.value.isRunning) pause();
	else play();

	triggerRef(context);
}

// trackStore.addTrack({
// 	name: "Unnamed",
// 	midi: ['./1.mid'],
// 	audio: './1 Unnamed.flac',
// 	audioStart: "2.105s",
// 	padEnd: "10s",
// });

// trackStore.addTrack({
// 	name: "Hi",
// 	midi: ['./2.mid'],
// 	audio: './2 Hi.flac',
// 	audioStart: "8.181s",
// 	padEnd: "25s",
// });

trackStore.addTrack({
	name: "Pulse Warp Machine",
	midi: ['./1.mid'],
	audio: './1 Pulse Warp Machine.flac',
	audioStart: "1.090s",
	padEnd: "25s",
});
</script>