<template>
	<template v-for="entry in entries" :key="entry.uid">
		<slot :event="entry.event" :remove="() => handleRemove(entry.uid)" />
	</template>
</template>

<script setup lang="ts">
import { ref } from "vue";
import { onMidiEvent, MidiEventInfo } from '../hooks';
import { TimeUnit } from "vue-three-js";

const props = defineProps<{
	name: string | string[];
	offset?: TimeUnit,
	debug?: string;
}>();

type MidiEventEntry = {
	event: MidiEventInfo;
	uid: number;
};

const entries = ref<MidiEventEntry[]>([]);
let lastUid = 0;

function handleRemove(uid: number) {
	entries.value = entries.value.filter(e => e.uid !== uid);
}

onMidiEvent(props.name, (event) => {
	entries.value.push({
		event,
		uid: lastUid++,
	});
}, {
	offset: props.offset,
	debug: props.debug,
});
</script>
