<template>
	<div class="d-flex align-items-center gap-3">
		<button type="button" class="btn btn-link" @click="() => emit('togglePause')">
			<Icon :icon="props.isPlaying ? 'mdi:pause' : 'mdi:play'" width="24" height="24" />
		</button>
		<small class="text-muted" style="white-space: nowrap; line-height: 1;">
			{{ formatTime(currentFrame) }} / {{ formatTime(props.lastFrame) }}
		</small>
		<input
			type="range"
			class="form-range"
			:max="props.lastFrame"
			v-model="currentFrame"
			@mousedown="handleMouseDown"
			@mouseup="handleMouseUp"
		/>
		<button type="button" class="btn btn-link">
			<Icon icon="mdi:volume-high" width="24" height="24" />
		</button>
	</div>
</template>

<script setup lang="ts">
import { Icon } from '@iconify/vue';
import { onKeyDown } from '@vueuse/core';
import { ref, watch } from 'vue';

const props = defineProps<{
	isPlaying: boolean;
	currentFrame: number;
	lastFrame: number;
}>();

const currentFrame = ref(props.currentFrame);
watch(() => props.currentFrame, (frame) => {
	currentFrame.value = frame;
});

const emit = defineEmits<{
	(event: 'togglePause'): void;
	(event: 'changeVolume', volume: number): void;
	(event: 'seek', progress: number): void;
}>();

// pause the track while the seekbar is being changed
let wasPlaying = false;
function handleMouseDown() {
	wasPlaying = props.isPlaying;
	if (wasPlaying) emit('togglePause');
}

function handleMouseUp() {
	emit('seek', currentFrame.value);
	if (wasPlaying) emit('togglePause');
}

function formatTime(frames: number) {
	const minutes = Math.floor(frames / 3600);
	const seconds = Math.floor(frames / 60) % 60;
	return `${minutes}:${('0' + seconds).slice(-2)}`;
}

onKeyDown(" ", () => {
	emit("togglePause");
});
</script>
