<template>
	<div class="d-flex flex-column h-100">
		<div class="bg-light py-2 px-3 d-flex align-items-center">
			<span style="line-height: 1; flex-grow: 1;">Tracks</span>
			<button class="btn btn-primary" type="button">
				Add Track
			</button>
		</div>
		<div style="overflow-y: scroll; height: 0; flex-grow: 1; position: relative;">
			<div v-for="track in trackStore.tracks" :key="track.id">
				<button class="btn btn-link border px-3 d-flex w-100" type="button" data-bs-toggle="collapse" :data-bs-target="`#trackCollapse${track.id}`">
					{{ track.name }}
				</button>
				<div class="collapse" :id="`trackCollapse${track.id}`">
					<div class="bg-light p-3">
						<div class="mb-3">
							<label class="form-label">Audio</label>
							<input class="form-control" type="file">
						</div>
						<div class="mb-3">
							<label class="form-label">Audio Padding</label>
							<input type="text" class="form-control" placeholder="0.00s">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>

<script setup lang="ts">
import { useTrackStore } from '../stores/tracks';

const trackStore = useTrackStore();


</script>