<template>
	<div class="d-flex flex-column h-100">
		<div style="overflow: scroll; height: 0; flex-grow: 1; position: relative;">
			<table>
				<tbody>
					<tr v-for="track of trackStore.tracks" :key="track.id">
						<td style="min-width: 200px; max-width: 200px; vertical-align: top;">
							<button class="btn btn-link p-2 w-100 text-start" type="button" @click="() => toggleShown(track.id)">
								{{ track.name }}
							</button>
							Audio offset: {{ formatTime(track.audioStart) }}
						</td>
						<td>
							<table v-if="isShown(track.id)">
								<tbody>
									<tr v-for="midi of track.midi">
										<td
											class="p-2 bg-secondary text-bg-secondary"
											style="min-width: 100px; max-width: 100px; vertical-align: top; position: sticky; left: 0; z-index: 1; background: #fff;"
										>
											{{ midi.name }}
										</td>
										<td>
											<TrackTimeline
												:track="track"
												:midi="midi"
												:scale="scale"
											/>
										</td>
									</tr>
								</tbody>
							</table>
							<div v-else>
								<span v-for="midi of track.midi" class="badge bg-secondary me-2">{{ midi.name }}</span>
							</div>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="d-flex align-items-center bg-dark text-bg-dark">
			<Icon icon="mdi:magnify-minus-outline" width="24" height="24" />
			<input
				type="range"
				min="0.05"
				max="1"
				step="any"
				v-model="scale"
			/>
			<Icon icon="mdi:magnify-plus-outline" width="24" height="24" />
		</div>
	</div>
</template>

<script setup lang="ts">
import { ref } from 'vue';
import { useTrackStore } from '../../stores/tracks';
import TrackTimeline from './TrackTimeline.vue';
import { Icon } from '@iconify/vue';

const trackStore = useTrackStore();
const scale = ref(0.5);

const showMap = ref({} as { [id: string]: boolean });

function isShown(id: string) {
	return !!showMap.value[id];
}

function toggleShown(id: string) {
	showMap.value[id] = !showMap.value[id];
}

function formatTime(frames: number) {
	const minutes = Math.floor(frames / 3600);
	const seconds = Math.floor(frames / 60) % 60;
	return `${minutes}:${('0' + seconds).slice(-2)}:${('0' + (frames % 60)).slice(-2)}`;
}
</script>