<template>
	<div
		class="my-1 py-2 bg-light border rounded"
		:style="{
			display: 'grid',
			gridAutoRows: 'minmax(3px, auto)',
			gridTemplateColumns: `repeat(${props.track.midiFrames - padStart}, minmax(${scale}px, auto))`,
			marginLeft: `${scale * padStart}px`,
			position: 'relative',
		}"
	>
		<div
			v-for="event in props.midi.events"
			class="bg-primary"
			data-bs-toggle="tooltip"
			:data-bs-title="`${event.value}`"
			:style="{
				gridRow: toRow(event.value),
				gridColumn: `${event.frame} / span ${event.duration || 8}`,
				opacity: isActive(event) ? 1 : 0.3,
			}"
		/>
	</div>
</template>

<script setup lang="ts">
import { currentFrame, unitsToFrames } from 'vue-three-js';
import { MidiTrack } from '../../stores/tracks';
import { MidiTrackEvents } from '../../utils/parseMidi';
import { computed, onMounted } from 'vue';
import { MidiEventInfo } from '../../hooks';

const props = defineProps<{
	track: MidiTrack,
	midi: MidiTrackEvents,
	scale: number,
}>();

const padStart = computed(() => unitsToFrames(props.track.padStart));

const eventMinMax = computed(() => [
	Math.min(...props.midi.events.map(e => e.value)),
	Math.max(...props.midi.events.map(e => e.value)),
]);

function toRow(value: number) {
	const [min, max] = eventMinMax.value;
	return (max - value) + 1;
}

function isActive(event: MidiEventInfo) {
	const f = padStart.value + event.frame;
	return f <= currentFrame.value
		&& currentFrame.value < f + (event.duration || 8);
}

onMounted(() => {
	document.querySelectorAll('[data-bs-toggle="tooltip"]')
		.forEach(el => new globalThis.bootstrap.Tooltip(el));
});
</script>
